body{
	height: 100vh;
	background-color: #C499F3;
}


.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(2px);
}

#modalLogin .modal-content{
	background-color: #33186B;
}

#modalScoreboard .modal-content{
	background-color: #F2AFEF;
}

#modalBurger .modal-content{
	background-color: #7360DF;
}

#modal42 .modal-content{
	background-color: #33186B;
	color: #7360DF;
}

#emailHelp .modal-content{
	color: #7360DF;

}

.main-buttons{
	margin-top: 23vh;
}
