.game {
    position: relative;
    height: 500px;
    width: 1000px;
    background-color: black;
    left: 25%;
    margin-left:-50px;
	top: 40px;
	border-radius: 10px;
}

#game-container {
	display: block;
}

@keyframes rotating {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
  }

#users {
	display: none;
	position: relative;
	width: 80%;
	left: 10%;
}

#button_tournament {
	position: relative;
	top: 20px;
}

.center {
	position: absolute;
	width: 10px;
	height: 50px;
	left: 50%;
	background-color: white;
}

#scoreP1{
	color: white;
	position: absolute;
	left: 10%;
}

#player1{
	color: white;
	position: absolute;
	left: 0%;
	top : -30px;
}

#player2{
	color: white;
	position: absolute;
	left: 80%;
	top : -30px;
}

#scoreP2{
	color: white;
	position: absolute;
	left: 90%;
}

#time{ 
	position: absolute;
	display: none;
	left: 50%;
	top: 90px;
	margin-left:-35px;
	font-size: x-large;
	color: #B19470;
	font-family: "Candal", sans-serif;
}

#crown{ 
	position: absolute;
	display: none;
	width: 100px;
	height: 100px;
	left: 48.5%;
	top: 150px;
	margin-left:-30px;
}

.block {
	position: absolute;
	background-color: white;
	width: 25px;
	height: 80px;
	top: 250px;
	border-radius: 10px;
}

#leftBox{
	left: 2%;
}

#rightBox{
	left: 95.6%;
}

.ball {
	position:absolute;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	top: 250px;
	left: 50%;
	margin-left:-10px;
	animation: rotating 2s linear infinite;
}

label {
	font-family: sans-serif;
	font-size: 1rem;
	padding-right: 10px;
  }
  
  select {
	font-size: 0.9rem;
	padding: 2px 5px;
  }
  