body{
	height: 100vh;
	background-color: #33186B;
	/* AD88C6 */
	/* de base C499F3 */
	color: #F2AFEF;
	font-family: "Tienne", serif;
	font-weight: 400;
	font-style: normal;
}

.navbar{
	background-color: #33186B;
	color: #F2AFEF;
}

.text-logo{
	color: #F2AFEF;
	text-shadow:
		0 0 7px #F2AFEF,
		0 0 10px #F2AFEF,
		0 0 21px #F2AFEF,
		0 0 42px #7360DF,
		0 0 82px #7360DF,
		0 0 92px #7360DF,
		0 0 102px #7360DF,
		0 0 151px #7360DF;
} 	

.fa-solid{
	color: #F2AFEF;
}

.navbar{
	background-color: #33186B;
	color: #F2AFEF;
}

.text-logo{
	color: #F2AFEF;
	text-shadow:
		0 0 7px #F2AFEF,
		0 0 10px #F2AFEF,
		0 0 21px #F2AFEF,
		0 0 42px #7360DF,
		0 0 82px #7360DF,
		0 0 92px #7360DF,
		0 0 102px #7360DF,
		0 0 151px #7360DF;
} 	

.fa-solid{
	color: #F2AFEF;
}

.navbar{
	background-color: #33186B;
	color: #F2AFEF;
}

.text-logo{
	color: #F2AFEF;
	text-shadow:
		0 0 7px #F2AFEF,
		0 0 10px #F2AFEF,
		0 0 21px #F2AFEF,
		0 0 42px #7360DF,
		0 0 82px #7360DF,
		0 0 92px #7360DF,
		0 0 102px #7360DF,
		0 0 151px #7360DF;
} 	

.fa-solid{
	color: #F2AFEF;
}

.navbar{
	background-color: #33186B;
	color: #F2AFEF;
}

.text-logo{
	color: #F2AFEF;
	text-shadow:
		0 0 7px #F2AFEF,
		0 0 10px #F2AFEF,
		0 0 21px #F2AFEF,
		0 0 42px #7360DF,
		0 0 82px #7360DF,
		0 0 92px #7360DF,
		0 0 102px #7360DF,
		0 0 151px #7360DF;
} 	

.fa-solid{
	color: #F2AFEF;
}

.navbar{
	background-color: #33186B;
	color: #F2AFEF;
}

.text-logo{
	color: #F2AFEF;
	text-shadow:
		0 0 7px #F2AFEF,
		0 0 10px #F2AFEF,
		0 0 21px #F2AFEF,
		0 0 42px #7360DF,
		0 0 82px #7360DF,
		0 0 92px #7360DF,
		0 0 102px #7360DF,
		0 0 151px #7360DF;
} 	

.fa-solid{
	color: #F2AFEF;
}

.modal-content{
	background-color: #33186B;
	color: #F2AFEF;
}

.form-text{
	color: #F2AFEF;
}


.fa-bars {
	background-color: #561C24;
}

.btn:hover{
	background-color: #B19470; 
	/* B19470 */
	border: #7360DF;
	--bs-btn-bg: #7360DF;
	--bs-btn-border-color: #7360DF;
	color:#F2AFEF;
	/* de base  7360DF*/
	/* de base  7360DF*/
	/* de base  7360DF*/
	/* de base  7360DF*/
	/* de base  F2AFEF*/
}


.btn-primary {
	--bs-btn-bg: #33186B;
	--bs-btn-border-color: #C499F3;
	--bs-btn-active-bg: #7360DF;
	color: #F2AFEF;
	/* de base 33186B*/
	/* de base C499F3*/
	/* de base 7360DF*/
	/* de base F2AFEF*/
}

.btn-secondary {
	--bs-btn-bg: #B784B7;
	/* B784B7 */
	--bs-btn-border-color: #33186B;
	--bs-btn-active-bg: #C499F3;
	/* de base 33186B*/
	/* de base C499F3*/
	/* de base C499F3*/
}

.big-button {
	background-color: #33186B;
	color: #fff;
	height: 80vh;
}
 

/*--------------------------TOURNAMENT----------------------------*/

.tournament-row{
	margin: 0 0 30px 0;
}

.custom-tournament .match{
	width: 100%;
	text-align: center;
	position: relative;
}

.custom-tournament .match div {
	border: 1px solid #C499F3;
	margin: 0 3px;
	padding: 5px 0;
}

.tournament-row:not(:last-child) .match div:before {
	content: "";
	display: block;
	width: 1px;
	height: 45px;
	background: #C499F3;
	bottom: 0;
	left: 50%;
	position: absolute;
	transform: rotate(135deg);
	transform-origin: bottom;
}

.tournament-row:not(:last-child) .match div:after {
	content: "";
	display: block;
	width: 1px;
	height: 45px;
	background: #C499F3;
	bottom: 0;
	left: 50%;
	position: absolute;
	transform: rotate(-135deg);
	transform-origin: bottom;
}

/*--------------------------TOURNAMENT----------------------------*/

.button-error-404 {
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 500;

}

.custom-background-error {
	background-image: url('../static/pong_logo.png');
	background-color: #C499F3;
	background-size: cover;
	height: 550px;
	background-position: center;
	display: inline-block;
	padding: 1px; 
	border: none;

}

.custom-background-error p {
	margin: 0;
}

.otc label {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.otc {
	position: relative;
	width: 320px;
	margin: 0 auto;
	font-size: large;
}

.otc fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.otc div {
	display: flex;
	align-items: center;
}

.otc legend {
	margin: 0 auto 1em;
	color: #5555FF;
}





input[type="tel"] {
	width: .82em;
	line-height: 1;
	margin: .1em;
	padding: 8px 0 4px;
	font-size: 2.65em;
	text-align: center;
	appearance: textfield;
	-webkit-appearance: textfield;
	border: 2px solid #7360DF;
	color: #33186B;
	border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




#textdash{
	color: #F2AFEF;
	text-shadow:
		0 0 7px #F2AFEF,
		0 0 10px #F2AFEF,
		0 0 21px #F2AFEF,
		0 0 42px #7360DF,
		0 0 82px #7360DF,
		0 0 92px #7360DF,
		0 0 102px #7360DF,
		0 0 151px #7360DF;
}

.chart-container {
    width: 50%;
    margin: 0 auto;
	float: left;
	text-align: center;
}


.bar-chart {
    width: 100%; /* Ajuste la largeur totale du bar chart selon tes besoins */
    margin: 20px auto; /* Centrer horizontalement */
    background-color: #fff; /* Fond blanc */
}

.bar {
    height: 30px; /* Hauteur des barres */
    margin-bottom: 10px; /* Espacement entre les barres */
    background-color: #7360DF; /* Couleur de base des barres */
    position: relative; /* Permet de positionner le nom sur la barre */
    color: #000;
    border-radius: 5px;
    transition: width 0.5s ease;
}



.bar:hover {
    background-color: #ddd; /* Couleur de fond au survol */
}

.bar:hover::after {
    content: attr(data-name); /* Affiche le nom de la barre */
    position: absolute;
    top: 50%; /* Position verticale centrée */
    left: 100%; /* Positionné à droite de la barre */
    transform: translate(10px, -50%); /* Décalage pour le nom */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Ombre */
    white-space: nowrap; /* Empêche le saut de ligne pour les noms longs */
}

#nbVictoiresBar {
    background-color: #F2AFEF; /* Couleur différente pour les victoires */
}

#nbPartiesBar{
	background-color: #7360DF;
}


.legend-container {
    margin-top: 10px;
}

.legend-list {
    list-style-type: none;
    padding: 0;
}

.legend-item {
    margin-bottom: 5px;
	align-items: center;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 5px;
}
