/*--------------------BODY ET NAVBAR--------------------------*/

body{
	height: 100vh;
	background-color: #222831;
	color: #EEEEEE;
	font-family: "Tienne", serif;
	font-weight: 400;
	font-style: normal;
}

.navbar{
	color: #EEEEEE;
	background-color: #31363F;
}

.navbar-toggler{
	background-color: #31363F;
}


.fa-bars {
	background-color: #31363F;
	color: #EEEEEE;
}


.logoenhaut {
	height: 50px;
	width: 50px;
	cursor: -moz-grab;
}

.text-logo{
	color: #EEEEEE;
	font: italic small-caps bold 60px cursive;
	
} 	

/*----------------------------------------------*/



/*--------------------- TABLEU --------------------------*/

.offcanvas{
	background-color: #31363F ;
	color: #EEEEEE;
	font-family: "Tienne", serif ;
	
}

.offcanvas.offcanvas-end{
	width: 520px;
}


.tableStat {
    width: 250px; /* Utilisation de 100% de la largeur disponible */
}

#table-primaire{
	background-color: #31363F;
	border-color: #31363F;
	color: #EEEEEE;
	width: 100px; /* Réglez la largeur selon vos besoins */
    white-space: nowrap; 
}


#table-secondaire{
	background-color: #222831;
	border-color: #31363F;
	color: #EEEEEE;
	width: 50px; /* Réglez la largeur selon vos besoins */
    white-space: nowrap; 
}

#table-tertiaire{
	background-color: #31363F;
	border-color: #31363F;
	color: #EEEEEE;
	width: 50px; /* Réglez la largeur selon vos besoins */
    white-space: nowrap; 
}


#table-quaternaire{
	background-color: #222831;
	border-color: #31363F;
	color: #EEEEEE;
	width: 100px; /* Réglez la largeur selon vos besoins */
    white-space: nowrap; 
}

#historicTable{
	margin-right: 3rem;
}

/*----------------------------------------------*/




/*--------------------------BOUTONS----------------------------*/

.btn:active{
	background-color: #31363F; 
	--bs-btn-bg: #31363F;
	border-color: #76ABAE!important;
	box-shadow: inset 1px 1px 5px #76ABAE;
	color:#EEEEEE;
}

.btn:hover{
	background-color: #31363F; 
	--bs-btn-bg: #31363F;
	border-color: #76ABAE;
	box-shadow: inset 1px 1px 5px #76ABAE;
	color:#EEEEEE;
}


.btn-primary {
	--bs-btn-bg: #31363F;
	--bs-btn-border-color: #76ABAE;
	--bs-btn-active-bg: #31363F;
	color: #EEEEEE;

}

.btn-secondary {
	--bs-btn-bg: #76ABAE;
	--bs-btn-border-color: #31363F;
	--bs-btn-active-bg: #76ABAE;
}

.button-error-404 {
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-weight: 500;

}

.big-button {
	background-color: #31363F;
	color: #EEEEEE;
	height: 80vh;
	border-width: 2px;
    border-radius: 5px;

}


#LocalGameButton{
	border-width: 2px;
    border-radius: 5px;

}
#OnlineGameButton{
	border-width: 2px;
    border-radius: 5px;

}
/*----------------------------------------------*/




/*--------------------------TOURNAMENT----------------------------*/

.tournament-row{
	margin: 0 0 30px 0;
}

.custom-tournament .match{
	width: 100%;
	text-align: center;
	position: relative;
}

.custom-tournament .match div {
	border: 1px solid #76ABAE;
	margin: 0 3px;
	padding: 5px 0;
	font-size: 1vw ;
}

.tournament-row:not(:last-child) .match div:before {
	content: "";
	display: block;
	width: 1px;
	height: 45px;
	background: #76ABAE;
	bottom: 0;
	left: 50%;
	position: absolute;
	transform: rotate(135deg);
	transform-origin: bottom;
}

.tournament-row:not(:last-child) .match div:after {
	content: "";
	display: block;
	width: 1px;
	height: 45px;
	background: #76ABAE;
	bottom: 0;
	left: 50%;
	position: absolute;
	transform: rotate(-135deg);
	transform-origin: bottom;
}

/*------------------------------------------------------*/


/*--------------------------ERREUR----------------------------*/

.custom-background-error {
	background-image: url('../static/pong_logo.png');
	background-color: #76ABAE;
	background-size: cover;
	height: 550px;
	background-position: center;
	display: inline-block;
	padding: 1px; 
	border: none;

}

.custom-background-error p {
	margin: 0;
}

.text-erreur{
	color: #31363F;
}




/*--------------------------CHART----------------------------*/

.chart-container {
    width: 50%;
    margin: 0 auto;
	float: left;
	text-align: center;
}


.bar-chart {
    width: 100%; /* Ajuste la largeur totale du bar chart selon tes besoins */
    margin: 20px auto; /* Centrer horizontalement */
    background-color: #EEEEEE; /* Fond blanc */
}

.bar {
    height: 30px; /* Hauteur des barres */
    margin-bottom: 10px; /* Espacement entre les barres */
    background-color: #9B4444; /* Couleur de base des barres */
    position: relative; /* Permet de positionner le nom sur la barre */
    color: #31363F;
    border-radius: 5px;
    transition: width 0.5s ease;
}



.bar:hover {
    background-color: #ddd; /* Couleur de fond au survol */
}

.bar:hover::after {
    content: attr(data-name); /* Affiche le nom de la barre */
    position: absolute;
    top: 50%; /* Position verticale centrée */
    left: 100%; /* Positionné à droite de la barre */
    transform: translate(10px, -50%); /* Décalage pour le nom */
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px A3C9AA(0, 0, 0, 0.3); /* Ombre */
    white-space: nowrap; /* Empêche le saut de ligne pour les noms longs */
}

#nbVictoiresBar {
    background-color: #A3C9AA;
}

#nbPartiesBar{
	background-color: #31363F;
	color: #EEEEEE;
}

#nbDefaiteBar{
	background-color: #9B4444;
}

.legend-container {
    margin-top: 10px;
}

.legend-list {
    list-style-type: none;
    padding: 0;
}

.legend-item {
    margin-bottom: 5px;
	align-items: center;
}

.legend-color {
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 5px;
}


.carousel-item {
    background-color: black;
    color: white; /* Changez la couleur du texte si nécessaire */
}
/*------------------------------------------------------*/



/*--------------------------2FA----------------------------*/
.otc label {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.otc {
	position: relative;
	width: 320px;
	margin: 0 auto;
	font-size: large;
}

.otc fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.otc div {
	display: flex;
	align-items: center;
}

.otc legend {
	margin: 0 auto 1em;
	color: #76ABAE;
}

input[type="tel"] {
	width: .82em;
	line-height: 1;
	margin: .1em;
	padding: 8px 0 4px;
	font-size: 2.65em;
	text-align: center;
	appearance: textfield;
	-webkit-appearance: textfield;
	border: 2px solid #31363F;
	color: #31363F;
	border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*------------------------------------------------------*/




.fa-solid{
	color: #EEEEEE;
}

.modal-content{
	background-color: #31363F;
	color: #EEEEEE;
}

.form-text{
	color: #EEEEEE;
}





