.game {
    position: absolute;
    height: 500px;
    width: 1000px;
    background-color: black;
    left: 25%;
    margin-left:-50px;
}

.center {
	position: absolute;
	width: 10px;
	height: 50px;
	left: 50%;
	background-color: white;
}

#scoreP1{
	color: white;
	position: absolute;
	left: 10%;
}


#scoreP2{
	color: white;
	position: absolute;
	left: 90%;
}

.block {
	position: absolute;
	background-color: white;
	width: 25px;
	height: 80px;
	top: 250px;
}

#leftBox{
	left: 2%;
}

#rightBox{
	left: 95%;
}

.ball {
	position:absolute;
	background-color: white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	top: 250px;
	left: 50%;
	margin-left:-10px;
}
